Node_RED/topics_y_dashboard.txt
[
    {
        "id": "726d093396977742",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4f99c19d7ac54c8d",
        "type": "ui_slider",
        "z": "726d093396977742",
        "name": "",
        "label": "Nivel de Luz",
        "tooltip": "",
        "group": "ab327fe76cd1459c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 250,
        "y": 3120,
        "wires": [
            [
                "64147f9c4f45c090",
                "27157555b1c537b4"
            ]
        ]
    },
    {
        "id": "be6770e386f6fa21",
        "type": "mqtt in",
        "z": "726d093396977742",
        "name": "",
        "topic": "II1/ESP3098241/datos",
        "qos": "2",
        "datatype": "auto",
        "broker": "819581010d48bfd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 280,
        "y": 640,
        "wires": [
            [
                "d65313c50fe0b61f"
            ]
        ]
    },
    {
        "id": "d65313c50fe0b61f",
        "type": "json",
        "z": "726d093396977742",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 640,
        "wires": [
            [
                "5ec7089dbd2ffde2",
                "c448fa6f141d88cc",
                "753db6e5a259c7f5",
                "3cb89400f0236323",
                "9f722e3f596e8344",
                "f3893227015d9773",
                "683b8742d9a86a5a",
                "2460c2c5b1b9419a",
                "b86e814ce1ba7dcf",
                "9d2a33405f57ffe6",
                "99bf027a588fb189",
                "cf91df6887d72922"
            ]
        ]
    },
    {
        "id": "5ec7089dbd2ffde2",
        "type": "change",
        "z": "726d093396977742",
        "name": "TEMPERATURA",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperatura",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 820,
        "wires": [
            [
                "290ac8d81a772fb0",
                "f74669ad65b662b7"
            ]
        ]
    },
    {
        "id": "c448fa6f141d88cc",
        "type": "change",
        "z": "726d093396977742",
        "name": "HUMEDAD",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Humedad",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 920,
        "wires": [
            [
                "11e521539b2f2446",
                "2e5508a10bf348f5"
            ]
        ]
    },
    {
        "id": "753db6e5a259c7f5",
        "type": "change",
        "z": "726d093396977742",
        "name": "LED",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "LED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1000,
        "wires": [
            [
                "be56090ea22f469a"
            ]
        ]
    },
    {
        "id": "3d18dfb71334ebed",
        "type": "function",
        "z": "726d093396977742",
        "name": "formato hora",
        "func": "// cambiamos el payload que recibimos (timestamp) por la fecha/hora formateada en texto...\nvar fecha = new Date(msg.payload);\nmsg.payload = fecha.toLocaleString(\"es-ES\",{\"timeZone\":\"Europe/Madrid\"});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 640,
        "wires": [
            [
                "5a036adf68212ddd"
            ]
        ]
    },
    {
        "id": "889fc88748c067ce",
        "type": "ui_text_input",
        "z": "726d093396977742",
        "name": "envia",
        "label": "envia",
        "tooltip": "",
        "group": "8c10952216336c2b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "topicType": "msg",
        "x": 230,
        "y": 2600,
        "wires": [
            [
                "0960a506dace459b"
            ]
        ]
    },
    {
        "id": "6b0b3d540f055ed5",
        "type": "ui_text_input",
        "z": "726d093396977742",
        "name": "actualiza",
        "label": "actualiza",
        "tooltip": "",
        "group": "8c10952216336c2b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "topicType": "msg",
        "x": 240,
        "y": 2640,
        "wires": [
            [
                "af7a9563dbf639d1"
            ]
        ]
    },
    {
        "id": "72c6ef0a6de775b0",
        "type": "ui_text_input",
        "z": "726d093396977742",
        "name": "velocidad",
        "label": "velocidad",
        "tooltip": "",
        "group": "8c10952216336c2b",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "topicType": "msg",
        "x": 240,
        "y": 2680,
        "wires": [
            [
                "93138fb4938aa220"
            ]
        ]
    },
    {
        "id": "69eac73c58fa7a57",
        "type": "comment",
        "z": "726d093396977742",
        "name": "CONFIG      Topic: IIX/ESPX/config",
        "info": "",
        "x": 250,
        "y": 2540,
        "wires": []
    },
    {
        "id": "81aff75de6938399",
        "type": "ui_switch",
        "z": "726d093396977742",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "8c10952216336c2b",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "2",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 230,
        "y": 2760,
        "wires": [
            [
                "99e0ab738f0de9e3"
            ]
        ]
    },
    {
        "id": "b15921a04eb225b0",
        "type": "comment",
        "z": "726d093396977742",
        "name": "ACTUADORES    Topic: IIX/ESPX/led/cmd",
        "info": "",
        "x": 280,
        "y": 3060,
        "wires": []
    },
    {
        "id": "a91992138ce82b6a",
        "type": "ui_dropdown",
        "z": "726d093396977742",
        "name": "",
        "label": "SELECT ESP",
        "tooltip": "",
        "place": "seleccione un ESP",
        "group": "ab327fe76cd1459c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "ESP1_cris",
                "value": "3098241",
                "type": "str"
            },
            {
                "label": "ESP2_hugo",
                "value": "9745759",
                "type": "str"
            },
            {
                "label": "ESP3_javi",
                "value": "10796726",
                "type": "str"
            },
            {
                "label": "ESP4_julian",
                "value": "1128666",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "id_ESP_led",
        "topicType": "flow",
        "className": "",
        "x": 260,
        "y": 3240,
        "wires": [
            [
                "cbfd392dc2134a64"
            ]
        ]
    },
    {
        "id": "cb57405519dbf7cb",
        "type": "ui_dropdown",
        "z": "726d093396977742",
        "name": "LED",
        "label": "LED",
        "tooltip": "",
        "place": "Select option",
        "group": "8c10952216336c2b",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "ENCENDIDO",
                "value": 2,
                "type": "num"
            },
            {
                "label": "APAGADO",
                "value": 1,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "LED",
        "x": 230,
        "y": 2720,
        "wires": [
            [
                "60b1fdb3b2d03eb9"
            ]
        ]
    },
    {
        "id": "64147f9c4f45c090",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "ab327fe76cd1459c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nivel de Luz seleccionado:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 460,
        "y": 3160,
        "wires": []
    },
    {
        "id": "d91fc0f65ac39337",
        "type": "debug",
        "z": "726d093396977742",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 2740,
        "wires": []
    },
    {
        "id": "f00df49bb70ea310",
        "type": "function",
        "z": "726d093396977742",
        "name": "Payload JSON y TOPIC enviar",
        "func": "var envia=flow.get(\"envia\") || null; //valor por defecto (5minutos)\nvar actualiza=flow.get(\"actualiza\") || null;\nvar velocidad=flow.get(\"velocidad\") || null;\nvar LED=flow.get(\"LED\") || null;\nvar SWITCH=flow.get(\"SWITCH\") || null;\n\nvar id_ESP=flow.get(\"id_ESP_config\");\n\nmsg.payload={\"envia\":envia, \"actualiza\":actualiza, \"velocidad\":velocidad,\"LED\":LED,\"SWITCH\":SWITCH};\n\nmsg.topic=\"II1/ESP\"+id_ESP+\"/config\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 2680,
        "wires": [
            [
                "e061d172f5d65f98",
                "d91fc0f65ac39337"
            ]
        ]
    },
    {
        "id": "dc797ed99706c3e5",
        "type": "ui_button",
        "z": "726d093396977742",
        "name": "",
        "group": "8c10952216336c2b",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Botón",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 2680,
        "wires": [
            [
                "f00df49bb70ea310"
            ]
        ]
    },
    {
        "id": "0960a506dace459b",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "envia",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 2600,
        "wires": [
            []
        ]
    },
    {
        "id": "af7a9563dbf639d1",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "actualiza",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 2640,
        "wires": [
            []
        ]
    },
    {
        "id": "93138fb4938aa220",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "velocidad",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 2680,
        "wires": [
            []
        ]
    },
    {
        "id": "60b1fdb3b2d03eb9",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "LED",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 2720,
        "wires": [
            []
        ]
    },
    {
        "id": "99e0ab738f0de9e3",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "SWITCH",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 2760,
        "wires": [
            []
        ]
    },
    {
        "id": "383b61380fad8a75",
        "type": "comment",
        "z": "726d093396977742",
        "name": "0=null; 1=0(apagado); 2=1(encendido)",
        "info": "",
        "x": 650,
        "y": 2720,
        "wires": []
    },
    {
        "id": "d938d1afa42227e0",
        "type": "comment",
        "z": "726d093396977742",
        "name": "0=null; 1=0(apagado); 2=1(encendido)",
        "info": "",
        "x": 690,
        "y": 2760,
        "wires": []
    },
    {
        "id": "e061d172f5d65f98",
        "type": "mqtt out",
        "z": "726d093396977742",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "819581010d48bfd0",
        "x": 1150,
        "y": 2680,
        "wires": []
    },
    {
        "id": "f7947f58eb36b9cf",
        "type": "function",
        "z": "726d093396977742",
        "name": "Payload JSON y TOPIC enviar",
        "func": "var NivelLED=flow.get(\"NivelLED\");\nvar idESP=flow.get(\"id_ESP_led\");\n\nmsg.payload={\"level\":NivelLED};\nmsg.topic=\"II1/ESP\"+idESP+\"/led/cmd\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 3180,
        "wires": [
            [
                "18fd76037ac99467",
                "86615f4550f03e7f"
            ]
        ]
    },
    {
        "id": "3cb89400f0236323",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 640,
        "wires": [
            [
                "3d18dfb71334ebed"
            ]
        ]
    },
    {
        "id": "935b28e658e1060e",
        "type": "comment",
        "z": "726d093396977742",
        "name": "ACTUALIZACION     Topic: IIX/ESPX/datos",
        "info": "",
        "x": 280,
        "y": 520,
        "wires": []
    },
    {
        "id": "5a036adf68212ddd",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "cc1d7259111dc549",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "FECHA DE ÚLTIMA ACTUALIZACIÓN (CRIS)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1200,
        "y": 640,
        "wires": []
    },
    {
        "id": "290ac8d81a772fb0",
        "type": "ui_gauge",
        "z": "726d093396977742",
        "name": "",
        "group": "cc1d7259111dc549",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "10",
        "max": "45",
        "colors": [
            "#ff0000",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "15",
        "seg2": "40",
        "className": "",
        "x": 930,
        "y": 860,
        "wires": []
    },
    {
        "id": "11e521539b2f2446",
        "type": "ui_gauge",
        "z": "726d093396977742",
        "name": "",
        "group": "cc1d7259111dc549",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "20",
        "seg2": "80",
        "className": "",
        "x": 920,
        "y": 960,
        "wires": []
    },
    {
        "id": "be56090ea22f469a",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "cc1d7259111dc549",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Valor nivel led:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 1000,
        "wires": []
    },
    {
        "id": "0da98547d074191c",
        "type": "comment",
        "z": "726d093396977742",
        "name": "CRIS: ESP3098241",
        "info": "{\n    \"group\":{\n        \"hide\":[]\n    }\n}",
        "x": 310,
        "y": 580,
        "wires": []
    },
    {
        "id": "8e769783795e8efe",
        "type": "comment",
        "z": "726d093396977742",
        "name": "HUGO: ESP9745759",
        "info": "",
        "x": 320,
        "y": 1420,
        "wires": []
    },
    {
        "id": "200d9036ad8b51a9",
        "type": "comment",
        "z": "726d093396977742",
        "name": "JAVI: ESP10796726",
        "info": "",
        "x": 1660,
        "y": 580,
        "wires": []
    },
    {
        "id": "a694f2dede355f76",
        "type": "comment",
        "z": "726d093396977742",
        "name": "JULIAN: ESP1128666",
        "info": "",
        "x": 1660,
        "y": 1440,
        "wires": []
    },
    {
        "id": "9f722e3f596e8344",
        "type": "change",
        "z": "726d093396977742",
        "name": "Uptime",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Uptime",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 700,
        "wires": [
            [
                "d60dd52ffe3addc9"
            ]
        ]
    },
    {
        "id": "f3893227015d9773",
        "type": "change",
        "z": "726d093396977742",
        "name": "Vcc",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Vcc",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 760,
        "wires": [
            [
                "3b2e1d60d0c700d6"
            ]
        ]
    },
    {
        "id": "d60dd52ffe3addc9",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "cc1d7259111dc549",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 700,
        "wires": []
    },
    {
        "id": "3b2e1d60d0c700d6",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "cc1d7259111dc549",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 760,
        "wires": []
    },
    {
        "id": "683b8742d9a86a5a",
        "type": "change",
        "z": "726d093396977742",
        "name": "SWITCH",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SWITCH",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1060,
        "wires": [
            [
                "bba8efa9a45c337e"
            ]
        ]
    },
    {
        "id": "bba8efa9a45c337e",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "cc1d7259111dc549",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Switch: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 840,
        "y": 1060,
        "wires": []
    },
    {
        "id": "ea37f8cb293fca6b",
        "type": "mqtt in",
        "z": "726d093396977742",
        "name": "",
        "topic": "II1/ESP9745759/datos",
        "qos": "2",
        "datatype": "auto",
        "broker": "819581010d48bfd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 280,
        "y": 1480,
        "wires": [
            [
                "62998549d5c32500"
            ]
        ]
    },
    {
        "id": "62998549d5c32500",
        "type": "json",
        "z": "726d093396977742",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 1480,
        "wires": [
            [
                "e80f6cd4d359966e",
                "c72822e561798d42",
                "02ea6a3ea8cbfa77",
                "d29689d13cbb02fd",
                "67a5179134507390",
                "5fa3b4834d502ab7",
                "4fa89477301d080a",
                "2a30099930540d50",
                "f6b3c066077d3cc9",
                "36fdd7ccf61328fe",
                "426d02e0a57e93a4",
                "709539f1a2214d1e"
            ]
        ]
    },
    {
        "id": "d29689d13cbb02fd",
        "type": "debug",
        "z": "726d093396977742",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1360,
        "wires": []
    },
    {
        "id": "e80f6cd4d359966e",
        "type": "change",
        "z": "726d093396977742",
        "name": "TEMPERATURA",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperatura",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1660,
        "wires": [
            [
                "ce68d2be4f7ee5fe",
                "684cea17347c5021"
            ]
        ]
    },
    {
        "id": "c72822e561798d42",
        "type": "change",
        "z": "726d093396977742",
        "name": "HUMEDAD",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Humedad",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1760,
        "wires": [
            [
                "721112089ebee7ea",
                "1258af97cad43548"
            ]
        ]
    },
    {
        "id": "02ea6a3ea8cbfa77",
        "type": "change",
        "z": "726d093396977742",
        "name": "LED",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "LED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1840,
        "wires": [
            [
                "8e201fc003446edf"
            ]
        ]
    },
    {
        "id": "8e201fc003446edf",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "8bc36ba409dbee33",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Valor nivel led:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 1840,
        "wires": []
    },
    {
        "id": "67a5179134507390",
        "type": "change",
        "z": "726d093396977742",
        "name": "Uptime",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Uptime",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1540,
        "wires": [
            [
                "0ebfc3c55d5df278"
            ]
        ]
    },
    {
        "id": "5fa3b4834d502ab7",
        "type": "change",
        "z": "726d093396977742",
        "name": "Vcc",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Vcc",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 1600,
        "wires": [
            [
                "7672dbe4c55dde8f"
            ]
        ]
    },
    {
        "id": "0ebfc3c55d5df278",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "8bc36ba409dbee33",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 880,
        "y": 1540,
        "wires": []
    },
    {
        "id": "7672dbe4c55dde8f",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "8bc36ba409dbee33",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 1600,
        "wires": []
    },
    {
        "id": "4fa89477301d080a",
        "type": "change",
        "z": "726d093396977742",
        "name": "SWITCH",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SWITCH",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1900,
        "wires": [
            [
                "98746925d9a23909"
            ]
        ]
    },
    {
        "id": "98746925d9a23909",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "8bc36ba409dbee33",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Switch: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 840,
        "y": 1900,
        "wires": []
    },
    {
        "id": "fcf0a2dcdf8d8c74",
        "type": "mqtt in",
        "z": "726d093396977742",
        "name": "",
        "topic": "II1/ESP10796726/datos",
        "qos": "2",
        "datatype": "auto",
        "broker": "819581010d48bfd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 1630,
        "y": 640,
        "wires": [
            [
                "ccd626b9c17fcc29"
            ]
        ]
    },
    {
        "id": "ccd626b9c17fcc29",
        "type": "json",
        "z": "726d093396977742",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1830,
        "y": 640,
        "wires": [
            [
                "073a661c0aa3b8dd",
                "3b811813d717368f",
                "10b959b01497181e",
                "d6e537aa907ceb59",
                "29dad12e05095836",
                "4038bb494327f969",
                "48b16ab50d1dd69f",
                "94c62466730c5759",
                "33d83dc1705aec2f",
                "a3c8ff0c64e3cd03",
                "189a95a1b2250a37",
                "8f38ad2094eac26d"
            ]
        ]
    },
    {
        "id": "d6e537aa907ceb59",
        "type": "debug",
        "z": "726d093396977742",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2030,
        "y": 500,
        "wires": []
    },
    {
        "id": "073a661c0aa3b8dd",
        "type": "change",
        "z": "726d093396977742",
        "name": "TEMPERATURA",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperatura",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2040,
        "y": 800,
        "wires": [
            [
                "52d2031adce8c845",
                "16c66b35f837af58"
            ]
        ]
    },
    {
        "id": "3b811813d717368f",
        "type": "change",
        "z": "726d093396977742",
        "name": "HUMEDAD",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Humedad",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2030,
        "y": 900,
        "wires": [
            [
                "28af7d0bca5ed7d6",
                "53f1fd31f92f8751"
            ]
        ]
    },
    {
        "id": "10b959b01497181e",
        "type": "change",
        "z": "726d093396977742",
        "name": "LED",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "LED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2010,
        "y": 1000,
        "wires": [
            [
                "9bdf56bdefb3a03b"
            ]
        ]
    },
    {
        "id": "9bdf56bdefb3a03b",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "c536c5560c48ce7f",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Valor nivel led:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2200,
        "y": 1000,
        "wires": []
    },
    {
        "id": "29dad12e05095836",
        "type": "change",
        "z": "726d093396977742",
        "name": "Uptime",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Uptime",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2020,
        "y": 680,
        "wires": [
            [
                "a64476c166fc26d2"
            ]
        ]
    },
    {
        "id": "4038bb494327f969",
        "type": "change",
        "z": "726d093396977742",
        "name": "Vcc",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Vcc",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2010,
        "y": 740,
        "wires": [
            [
                "2295a705e627ea15"
            ]
        ]
    },
    {
        "id": "a64476c166fc26d2",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "c536c5560c48ce7f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2220,
        "y": 680,
        "wires": []
    },
    {
        "id": "2295a705e627ea15",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "c536c5560c48ce7f",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2210,
        "y": 740,
        "wires": []
    },
    {
        "id": "48b16ab50d1dd69f",
        "type": "change",
        "z": "726d093396977742",
        "name": "SWITCH",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SWITCH",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2020,
        "y": 1060,
        "wires": [
            [
                "fba4ae129b6fa680"
            ]
        ]
    },
    {
        "id": "fba4ae129b6fa680",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "c536c5560c48ce7f",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Switch: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2180,
        "y": 1060,
        "wires": []
    },
    {
        "id": "b138284e88e11c7f",
        "type": "mqtt in",
        "z": "726d093396977742",
        "name": "",
        "topic": "II1/ESP1128666/datos",
        "qos": "2",
        "datatype": "auto",
        "broker": "819581010d48bfd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 1620,
        "y": 1500,
        "wires": [
            [
                "b3606ed6cfdca398"
            ]
        ]
    },
    {
        "id": "b3606ed6cfdca398",
        "type": "json",
        "z": "726d093396977742",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1830,
        "y": 1500,
        "wires": [
            [
                "175ef9e8049ed7a8",
                "8f289e3f25e59d75",
                "46c1f1dc1f16c2fa",
                "78292d523550ab9e",
                "eb6e0d50b8b131e8",
                "e21dfa76f21fe471",
                "570879df8a1d9be2",
                "28e83dc48cb68240",
                "fdd2b38e7705307e",
                "1055103a9f01b2c9",
                "97813353a376362d",
                "cd46b9773f124802"
            ]
        ]
    },
    {
        "id": "78292d523550ab9e",
        "type": "debug",
        "z": "726d093396977742",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2030,
        "y": 1380,
        "wires": []
    },
    {
        "id": "175ef9e8049ed7a8",
        "type": "change",
        "z": "726d093396977742",
        "name": "TEMPERATURA",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.temp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperatura",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2040,
        "y": 1680,
        "wires": [
            [
                "296dd9a3873d2047",
                "51fa6d5ceb9cd299"
            ]
        ]
    },
    {
        "id": "8f289e3f25e59d75",
        "type": "change",
        "z": "726d093396977742",
        "name": "HUMEDAD",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.DHT11.hum",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Humedad",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2030,
        "y": 1780,
        "wires": [
            [
                "96ecd38d12a666db",
                "ab950516a8c76ec1"
            ]
        ]
    },
    {
        "id": "46c1f1dc1f16c2fa",
        "type": "change",
        "z": "726d093396977742",
        "name": "LED",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.LED",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "LED",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2010,
        "y": 1880,
        "wires": [
            [
                "dfb2a361c85f695d"
            ]
        ]
    },
    {
        "id": "dfb2a361c85f695d",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "723b6c9cf7a443fb",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Valor nivel led:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2200,
        "y": 1880,
        "wires": []
    },
    {
        "id": "eb6e0d50b8b131e8",
        "type": "change",
        "z": "726d093396977742",
        "name": "Uptime",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Uptime",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Uptime",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2020,
        "y": 1560,
        "wires": [
            [
                "00dda97e8a9c337c"
            ]
        ]
    },
    {
        "id": "e21dfa76f21fe471",
        "type": "change",
        "z": "726d093396977742",
        "name": "Vcc",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Vcc",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Vcc",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2010,
        "y": 1620,
        "wires": [
            [
                "e338ffb1d42401a4"
            ]
        ]
    },
    {
        "id": "00dda97e8a9c337c",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "723b6c9cf7a443fb",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2220,
        "y": 1560,
        "wires": []
    },
    {
        "id": "e338ffb1d42401a4",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "723b6c9cf7a443fb",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Vcc: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2210,
        "y": 1620,
        "wires": []
    },
    {
        "id": "570879df8a1d9be2",
        "type": "change",
        "z": "726d093396977742",
        "name": "SWITCH",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.SWITCH",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SWITCH",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2020,
        "y": 1940,
        "wires": [
            [
                "212ffe08235a435e"
            ]
        ]
    },
    {
        "id": "212ffe08235a435e",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "723b6c9cf7a443fb",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Switch: ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2180,
        "y": 1940,
        "wires": []
    },
    {
        "id": "2460c2c5b1b9419a",
        "type": "change",
        "z": "726d093396977742",
        "name": "CHIPID (ESP)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ESP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 580,
        "wires": [
            [
                "0378f7a831218a5c"
            ]
        ]
    },
    {
        "id": "0378f7a831218a5c",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "cc1d7259111dc549",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización del ESP:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 970,
        "y": 580,
        "wires": []
    },
    {
        "id": "2a30099930540d50",
        "type": "change",
        "z": "726d093396977742",
        "name": "CHIPID (ESP)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ESP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1420,
        "wires": [
            [
                "c7b909fafaccbaca"
            ]
        ]
    },
    {
        "id": "c7b909fafaccbaca",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "8bc36ba409dbee33",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización del ESP:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 970,
        "y": 1420,
        "wires": []
    },
    {
        "id": "b6a513de4c8d1a6d",
        "type": "function",
        "z": "726d093396977742",
        "name": "formato hora",
        "func": "// cambiamos el payload que recibimos (timestamp) por la fecha/hora formateada en texto...\nvar fecha = new Date(msg.payload);\nmsg.payload = fecha.toLocaleString(\"es-ES\",{\"timeZone\":\"Europe/Madrid\"});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 1480,
        "wires": [
            [
                "13e3ef81bfac26b1"
            ]
        ]
    },
    {
        "id": "f6b3c066077d3cc9",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 1480,
        "wires": [
            [
                "b6a513de4c8d1a6d"
            ]
        ]
    },
    {
        "id": "13e3ef81bfac26b1",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "8bc36ba409dbee33",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "FECHA DE ÚLTIMA ACTUALIZACIÓN (HUGO)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1200,
        "y": 1480,
        "wires": []
    },
    {
        "id": "28e83dc48cb68240",
        "type": "change",
        "z": "726d093396977742",
        "name": "CHIPID (ESP)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ESP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2040,
        "y": 1440,
        "wires": [
            [
                "1f80f335a35d39f8"
            ]
        ]
    },
    {
        "id": "1f80f335a35d39f8",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "723b6c9cf7a443fb",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización del ESP:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2310,
        "y": 1440,
        "wires": []
    },
    {
        "id": "98a9b498f5dc6d7a",
        "type": "function",
        "z": "726d093396977742",
        "name": "formato hora",
        "func": "// cambiamos el payload que recibimos (timestamp) por la fecha/hora formateada en texto...\nvar fecha = new Date(msg.payload);\nmsg.payload = fecha.toLocaleString(\"es-ES\",{\"timeZone\":\"Europe/Madrid\"});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2250,
        "y": 1500,
        "wires": [
            [
                "39da958dca56372f"
            ]
        ]
    },
    {
        "id": "fdd2b38e7705307e",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2050,
        "y": 1500,
        "wires": [
            [
                "98a9b498f5dc6d7a"
            ]
        ]
    },
    {
        "id": "39da958dca56372f",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "723b6c9cf7a443fb",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "FECHA DE ÚLTIMA ACTUALIZACIÓN (JULIAN)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 2570,
        "y": 1500,
        "wires": []
    },
    {
        "id": "94c62466730c5759",
        "type": "change",
        "z": "726d093396977742",
        "name": "CHIPID (ESP)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.CHIPID",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ESP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2040,
        "y": 560,
        "wires": [
            [
                "c5a8a97c165aa24a"
            ]
        ]
    },
    {
        "id": "c5a8a97c165aa24a",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "c536c5560c48ce7f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Última actualización del ESP:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 2310,
        "y": 560,
        "wires": []
    },
    {
        "id": "ba6326848d430937",
        "type": "function",
        "z": "726d093396977742",
        "name": "formato hora",
        "func": "// cambiamos el payload que recibimos (timestamp) por la fecha/hora formateada en texto...\nvar fecha = new Date(msg.payload);\nmsg.payload = fecha.toLocaleString(\"es-ES\",{\"timeZone\":\"Europe/Madrid\"});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2250,
        "y": 620,
        "wires": [
            [
                "3632a36935f09ebf"
            ]
        ]
    },
    {
        "id": "33d83dc1705aec2f",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2050,
        "y": 620,
        "wires": [
            [
                "ba6326848d430937"
            ]
        ]
    },
    {
        "id": "3632a36935f09ebf",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "c536c5560c48ce7f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "FECHA DE ÚLTIMA ACTUALIZACIÓN (JAVI)",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 2540,
        "y": 620,
        "wires": []
    },
    {
        "id": "5e051dd1500e84b5",
        "type": "ui_dropdown",
        "z": "726d093396977742",
        "name": "idESP",
        "label": "SELECT ESP",
        "tooltip": "",
        "place": "seleccione un ESP",
        "group": "8c10952216336c2b",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "ESP1_cris",
                "value": 3098241,
                "type": "num"
            },
            {
                "label": "ESP2_hugo",
                "value": 9745759,
                "type": "num"
            },
            {
                "label": "ESP3_javi",
                "value": 10796726,
                "type": "num"
            },
            {
                "label": "ESP4_julian",
                "value": 1128666,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 230,
        "y": 2800,
        "wires": [
            [
                "3618cdd3f833ff23"
            ]
        ]
    },
    {
        "id": "be47f02cbfedab3c",
        "type": "ui_button",
        "z": "726d093396977742",
        "name": "",
        "group": "ab327fe76cd1459c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Botón",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 3180,
        "wires": [
            [
                "f7947f58eb36b9cf"
            ]
        ]
    },
    {
        "id": "030c8e9baeab2da8",
        "type": "ui_text_input",
        "z": "726d093396977742",
        "name": "",
        "label": "MAX temperatura",
        "tooltip": "",
        "group": "5427c6dfa1fc2140",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "max_temp",
        "sendOnBlur": true,
        "topicType": "flow",
        "x": 330,
        "y": 2860,
        "wires": [
            [
                "bb25e139f27e9f01"
            ]
        ]
    },
    {
        "id": "10d914a1b9216c97",
        "type": "ui_text_input",
        "z": "726d093396977742",
        "name": "",
        "label": "MIN temperatura",
        "tooltip": "",
        "group": "5427c6dfa1fc2140",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "min_temp",
        "sendOnBlur": true,
        "topicType": "flow",
        "x": 330,
        "y": 2900,
        "wires": [
            [
                "e47460d43f6f93fb"
            ]
        ]
    },
    {
        "id": "2e8ad0e54a913478",
        "type": "ui_text_input",
        "z": "726d093396977742",
        "name": "",
        "label": "MAX humedad (%)",
        "tooltip": "",
        "group": "5427c6dfa1fc2140",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "max_hum",
        "sendOnBlur": true,
        "topicType": "flow",
        "x": 330,
        "y": 2940,
        "wires": [
            [
                "e01991b6963ad2f1"
            ]
        ]
    },
    {
        "id": "bc55db289402021d",
        "type": "ui_text_input",
        "z": "726d093396977742",
        "name": "",
        "label": "MIN humedad (%)",
        "tooltip": "",
        "group": "5427c6dfa1fc2140",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "min_hum",
        "sendOnBlur": true,
        "topicType": "flow",
        "x": 330,
        "y": 2980,
        "wires": [
            [
                "8ccd1865801b7718"
            ]
        ]
    },
    {
        "id": "8f1b69ec88160821",
        "type": "comment",
        "z": "726d093396977742",
        "name": "ULTIMAS VOLUNTADES    Topic: IIX/ESPX/conexion",
        "info": "",
        "x": 310,
        "y": 80,
        "wires": []
    },
    {
        "id": "3ff0b6b5ec9e61ea",
        "type": "mqtt in",
        "z": "726d093396977742",
        "name": "",
        "topic": "II1/ESP3098241/conexion",
        "qos": "2",
        "datatype": "auto",
        "broker": "819581010d48bfd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "abe273621413f7fa"
            ]
        ]
    },
    {
        "id": "2794d2b757db8465",
        "type": "mqtt in",
        "z": "726d093396977742",
        "name": "",
        "topic": "II1/ESP9745759/conexion",
        "qos": "2",
        "datatype": "auto",
        "broker": "819581010d48bfd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 290,
        "y": 220,
        "wires": [
            [
                "0f75068090c2545a"
            ]
        ]
    },
    {
        "id": "06b7a95d03debe06",
        "type": "mqtt in",
        "z": "726d093396977742",
        "name": "",
        "topic": "II1/ESP10796726/conexion",
        "qos": "2",
        "datatype": "auto",
        "broker": "819581010d48bfd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 290,
        "y": 280,
        "wires": [
            [
                "9cbe951aee3df0fd"
            ]
        ]
    },
    {
        "id": "1f2ca3e1c24091fc",
        "type": "mqtt in",
        "z": "726d093396977742",
        "name": "",
        "topic": "II1/ESP1128666/conexion",
        "qos": "2",
        "datatype": "auto",
        "broker": "819581010d48bfd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 290,
        "y": 340,
        "wires": [
            [
                "ca7e206d2cd6dae6"
            ]
        ]
    },
    {
        "id": "25714a1df9d488ae",
        "type": "function",
        "z": "726d093396977742",
        "name": "",
        "func": "var online=msg.payload.online;\n\nif (!online)\n{\n    msg.payload=\"La placa: ESP_3098241 se ha desconectado.\";\n    msg.topic=\"ALERTA\";\n    \n    return msg;\n    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 160,
        "wires": [
            [
                "a9f8bb2354573a40"
            ]
        ]
    },
    {
        "id": "a9f8bb2354573a40",
        "type": "ui_toast",
        "z": "726d093396977742",
        "position": "bottom right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 930,
        "y": 240,
        "wires": []
    },
    {
        "id": "ce68d2be4f7ee5fe",
        "type": "ui_gauge",
        "z": "726d093396977742",
        "name": "",
        "group": "8bc36ba409dbee33",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "10",
        "max": "45",
        "colors": [
            "#ff0000",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "15",
        "seg2": "40",
        "className": "",
        "x": 910,
        "y": 1700,
        "wires": []
    },
    {
        "id": "721112089ebee7ea",
        "type": "ui_gauge",
        "z": "726d093396977742",
        "name": "",
        "group": "8bc36ba409dbee33",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "20",
        "seg2": "80",
        "className": "",
        "x": 900,
        "y": 1800,
        "wires": []
    },
    {
        "id": "296dd9a3873d2047",
        "type": "ui_gauge",
        "z": "726d093396977742",
        "name": "",
        "group": "723b6c9cf7a443fb",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "10",
        "max": "45",
        "colors": [
            "#ff0000",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "15",
        "seg2": "40",
        "className": "",
        "x": 2270,
        "y": 1700,
        "wires": []
    },
    {
        "id": "96ecd38d12a666db",
        "type": "ui_gauge",
        "z": "726d093396977742",
        "name": "",
        "group": "723b6c9cf7a443fb",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "20",
        "seg2": "80",
        "className": "",
        "x": 2260,
        "y": 1820,
        "wires": []
    },
    {
        "id": "52d2031adce8c845",
        "type": "ui_gauge",
        "z": "726d093396977742",
        "name": "",
        "group": "c536c5560c48ce7f",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "10",
        "max": "45",
        "colors": [
            "#ff0000",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "15",
        "seg2": "40",
        "className": "",
        "x": 2250,
        "y": 840,
        "wires": []
    },
    {
        "id": "28af7d0bca5ed7d6",
        "type": "ui_gauge",
        "z": "726d093396977742",
        "name": "",
        "group": "c536c5560c48ce7f",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#ff0000",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "20",
        "seg2": "80",
        "className": "",
        "x": 2240,
        "y": 940,
        "wires": []
    },
    {
        "id": "abe273621413f7fa",
        "type": "json",
        "z": "726d093396977742",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 160,
        "wires": [
            [
                "25714a1df9d488ae",
                "852649c907aeacb6"
            ]
        ]
    },
    {
        "id": "fd08cdf5a3d8aebe",
        "type": "function",
        "z": "726d093396977742",
        "name": "",
        "func": "var online=msg.payload.online;\n\nif (!online)\n{\n    msg.payload=\"La placa: ESP_9745759 se ha desconectado.\";\n    msg.topic=\"ALERTA\";\n    \n    return msg;\n    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 220,
        "wires": [
            [
                "a9f8bb2354573a40"
            ]
        ]
    },
    {
        "id": "0f75068090c2545a",
        "type": "json",
        "z": "726d093396977742",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 220,
        "wires": [
            [
                "fd08cdf5a3d8aebe",
                "852649c907aeacb6"
            ]
        ]
    },
    {
        "id": "06283358dab16891",
        "type": "function",
        "z": "726d093396977742",
        "name": "",
        "func": "var online=msg.payload.online;\n\nif (!online)\n{\n    msg.payload=\"La placa: ESP_10796726 se ha desconectado.\";\n    msg.topic=\"ALERTA\";\n    \n    return msg;\n    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 280,
        "wires": [
            [
                "a9f8bb2354573a40"
            ]
        ]
    },
    {
        "id": "9cbe951aee3df0fd",
        "type": "json",
        "z": "726d093396977742",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 280,
        "wires": [
            [
                "06283358dab16891",
                "852649c907aeacb6"
            ]
        ]
    },
    {
        "id": "0ba5bbeb4291ce89",
        "type": "function",
        "z": "726d093396977742",
        "name": "",
        "func": "var online=msg.payload.online;\n\nif (!online)\n{\n    msg.payload=\"La placa: ESP_1128666 se ha desconectado.\";\n    msg.topic=\"ALERTA\";\n    \n    return msg;\n    \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 340,
        "wires": [
            [
                "a9f8bb2354573a40"
            ]
        ]
    },
    {
        "id": "ca7e206d2cd6dae6",
        "type": "json",
        "z": "726d093396977742",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 340,
        "wires": [
            [
                "0ba5bbeb4291ce89",
                "852649c907aeacb6"
            ]
        ]
    },
    {
        "id": "b86e814ce1ba7dcf",
        "type": "debug",
        "z": "726d093396977742",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 520,
        "wires": []
    },
    {
        "id": "852649c907aeacb6",
        "type": "debug",
        "z": "726d093396977742",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 420,
        "wires": []
    },
    {
        "id": "86615f4550f03e7f",
        "type": "debug",
        "z": "726d093396977742",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 3240,
        "wires": []
    },
    {
        "id": "3618cdd3f833ff23",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "id_ESP_config",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 2800,
        "wires": [
            []
        ]
    },
    {
        "id": "27157555b1c537b4",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "NivelLED",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 3120,
        "wires": [
            []
        ]
    },
    {
        "id": "cbfd392dc2134a64",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "id_ESP_led",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 3240,
        "wires": [
            []
        ]
    },
    {
        "id": "bb25e139f27e9f01",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "max_temp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 2860,
        "wires": [
            []
        ]
    },
    {
        "id": "e47460d43f6f93fb",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "min_temp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 2900,
        "wires": [
            []
        ]
    },
    {
        "id": "e01991b6963ad2f1",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "max_hum",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 2940,
        "wires": [
            []
        ]
    },
    {
        "id": "8ccd1865801b7718",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "min_hum",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 2980,
        "wires": [
            []
        ]
    },
    {
        "id": "18fd76037ac99467",
        "type": "mqtt out",
        "z": "726d093396977742",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "819581010d48bfd0",
        "x": 1150,
        "y": 3180,
        "wires": []
    },
    {
        "id": "1097cfb489cb5b4c",
        "type": "ui_toast",
        "z": "726d093396977742",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1110,
        "y": 820,
        "wires": []
    },
    {
        "id": "f74669ad65b662b7",
        "type": "function",
        "z": "726d093396977742",
        "name": "",
        "func": "const id_ESP=3098241;\n\nvar temp=msg.payload;\n\n//notificaciones:\nvar max_temp=flow.get(\"max_temp\");\nvar min_temp=flow.get(\"min_temp\");\n\n\nif (temp>=max_temp)\n{\n    msg.payload=\"TEMPERATURA MÁXIMA ALCANZADA\";\n    msg.topic=\"ALERTA EN: ESP-\"+id_ESP;\n    return msg;\n}\nelse if (temp<=min_temp)\n{\n    msg.payload=\"TEMPERATURA MÍNIMA ALCANZADA\";\n    msg.topic=\"ALERTA EN: ESP-\"+id_ESP;\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 820,
        "wires": [
            [
                "1097cfb489cb5b4c"
            ]
        ]
    },
    {
        "id": "2e5508a10bf348f5",
        "type": "function",
        "z": "726d093396977742",
        "name": "",
        "func": "const id_ESP=3098241;\n\nvar hum=msg.payload;\n\n//notificaciones\nvar max_hum=flow.get(\"max_hum\");\nvar min_hum=flow.get(\"min_hum\");\n\nif (hum>=max_hum)\n{\n    msg.payload=\"HUMEDAD MÁXIMA ALCANZADA\";\n    msg.topic=\"ALERTA EN: ESP-\"+id_ESP;\n    return msg;\n}\nelse if (hum<=min_hum)\n{\n    msg.payload=\"HUMEDAD MÍNIMA ALCANZADA\";\n    msg.topic=\"ALERTA EN: ESP-\"+id_ESP;\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 920,
        "wires": [
            [
                "6b1ca026cbfddaa0"
            ]
        ]
    },
    {
        "id": "6b1ca026cbfddaa0",
        "type": "ui_toast",
        "z": "726d093396977742",
        "position": "top left",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1110,
        "y": 920,
        "wires": []
    },
    {
        "id": "684cea17347c5021",
        "type": "function",
        "z": "726d093396977742",
        "name": "",
        "func": "const id_ESP=9745759;\n\nvar temp=msg.payload;\n\n//notificaciones:\nvar max_temp=flow.get(\"max_temp\");\nvar min_temp=flow.get(\"min_temp\");\n\n\nif (temp>=max_temp)\n{\n    msg.payload=\"TEMPERATURA MÁXIMA ALCANZADA\";\n    msg.topic=\"ALERTA EN: ESP-\"+id_ESP;\n    return msg;\n}\nelse if (temp<=min_temp)\n{\n    msg.payload=\"TEMPERATURA MÍNIMA ALCANZADA\";\n    msg.topic=\"ALERTA EN: ESP-\"+id_ESP;\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 1660,
        "wires": [
            [
                "a58ac77f7465efc4"
            ]
        ]
    },
    {
        "id": "51fa6d5ceb9cd299",
        "type": "function",
        "z": "726d093396977742",
        "name": "",
        "func": "const id_ESP=1128666;\n\nvar temp=msg.payload;\n\n//notificaciones:\nvar max_temp=flow.get(\"max_temp\");\nvar min_temp=flow.get(\"min_temp\");\n\n\nif (temp>=max_temp)\n{\n    msg.payload=\"TEMPERATURA MÁXIMA ALCANZADA\";\n    msg.topic=\"ALERTA EN: ESP-\"+id_ESP;\n    return msg;\n}\nelse if (temp<=min_temp)\n{\n    msg.payload=\"TEMPERATURA MÍNIMA ALCANZADA\";\n    msg.topic=\"ALERTA EN: ESP-\"+id_ESP;\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2260,
        "y": 1660,
        "wires": [
            [
                "593123396de3f2fa"
            ]
        ]
    },
    {
        "id": "16c66b35f837af58",
        "type": "function",
        "z": "726d093396977742",
        "name": "",
        "func": "const id_ESP=10796726;\n\nvar temp=msg.payload;\n\n//notificaciones:\nvar max_temp=flow.get(\"max_temp\");\nvar min_temp=flow.get(\"min_temp\");\n\n\nif (temp>=max_temp)\n{\n    msg.payload=\"TEMPERATURA MÁXIMA ALCANZADA\";\n    msg.topic=\"ALERTA EN: ESP-\"+id_ESP;\n    return msg;\n}\nelse if (temp<=min_temp)\n{\n    msg.payload=\"TEMPERATURA MÍNIMA ALCANZADA\";\n    msg.topic=\"ALERTA EN: ESP-\"+id_ESP;\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2240,
        "y": 800,
        "wires": [
            [
                "6ef5e5d93f440a7e"
            ]
        ]
    },
    {
        "id": "a58ac77f7465efc4",
        "type": "ui_toast",
        "z": "726d093396977742",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1110,
        "y": 1660,
        "wires": []
    },
    {
        "id": "593123396de3f2fa",
        "type": "ui_toast",
        "z": "726d093396977742",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2490,
        "y": 1660,
        "wires": []
    },
    {
        "id": "6ef5e5d93f440a7e",
        "type": "ui_toast",
        "z": "726d093396977742",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2450,
        "y": 800,
        "wires": []
    },
    {
        "id": "1258af97cad43548",
        "type": "function",
        "z": "726d093396977742",
        "name": "",
        "func": "const id_ESP=9745759;\n\nvar hum=msg.payload;\n\n\n//notificaciones\nvar max_hum=flow.get(\"max_hum\");\nvar min_hum=flow.get(\"min_hum\");\n\nif (hum>=max_hum)\n{\n    msg.payload=\"HUMEDAD MÁXIMA ALCANZADA\";\n    msg.topic=\"ALERTA EN: ESP-\"+id_ESP;\n    return msg;\n}\nelse if (hum<=min_hum)\n{\n    msg.payload=\"HUMEDAD MÍNIMA ALCANZADA\";\n    msg.topic=\"ALERTA EN: ESP-\"+id_ESP;\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 1760,
        "wires": [
            [
                "4454459260eed2b7"
            ]
        ]
    },
    {
        "id": "4454459260eed2b7",
        "type": "ui_toast",
        "z": "726d093396977742",
        "position": "top left",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1090,
        "y": 1760,
        "wires": []
    },
    {
        "id": "ab950516a8c76ec1",
        "type": "function",
        "z": "726d093396977742",
        "name": "",
        "func": "const id_ESP=1128666;\n\nvar hum=msg.payload;\n\n\n//notificaciones\nvar max_hum=flow.get(\"max_hum\");\nvar min_hum=flow.get(\"min_hum\");\n\nif (hum>=max_hum)\n{\n    msg.payload=\"HUMEDAD MÁXIMA ALCANZADA\";\n    msg.topic=\"ALERTA EN: ESP-\"+id_ESP;\n    return msg;\n}\nelse if (hum<=min_hum)\n{\n    msg.payload=\"HUMEDAD MÍNIMA ALCANZADA\";\n    msg.topic=\"ALERTA EN: ESP-\"+id_ESP;\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2260,
        "y": 1780,
        "wires": [
            [
                "1fb4984ab4f22ca7"
            ]
        ]
    },
    {
        "id": "53f1fd31f92f8751",
        "type": "function",
        "z": "726d093396977742",
        "name": "",
        "func": "const id_ESP=10796726;\n\nvar hum=msg.payload;\n\n//notificaciones\nvar max_hum=flow.get(\"max_hum\");\nvar min_hum=flow.get(\"min_hum\");\n\nif (hum>=max_hum)\n{\n    msg.payload=\"HUMEDAD MÁXIMA ALCANZADA\";\n    msg.topic=\"ALERTA EN: ESP-\"+id_ESP;\n    return msg;\n}\nelse if (hum<=min_hum)\n{\n    msg.payload=\"HUMEDAD MÍNIMA ALCANZADA\";\n    msg.topic=\"ALERTA EN: ESP-\"+id_ESP;\n    return msg;\n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2240,
        "y": 900,
        "wires": [
            [
                "0cca41142ca92e16"
            ]
        ]
    },
    {
        "id": "0cca41142ca92e16",
        "type": "ui_toast",
        "z": "726d093396977742",
        "position": "top left",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2470,
        "y": 900,
        "wires": []
    },
    {
        "id": "1fb4984ab4f22ca7",
        "type": "ui_toast",
        "z": "726d093396977742",
        "position": "top left",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 2470,
        "y": 1780,
        "wires": []
    },
    {
        "id": "f8a27b6e4f970592",
        "type": "comment",
        "z": "726d093396977742",
        "name": "Topic: IIX/ESPX/led/status",
        "info": "",
        "x": 230,
        "y": 2220,
        "wires": []
    },
    {
        "id": "77bc099aff7f6ae6",
        "type": "mqtt in",
        "z": "726d093396977742",
        "name": "",
        "topic": "II1/ESP3098241/led/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "819581010d48bfd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 300,
        "y": 2280,
        "wires": [
            [
                "c2c05265009ca22a"
            ]
        ]
    },
    {
        "id": "8049713f08e6c34f",
        "type": "mqtt in",
        "z": "726d093396977742",
        "name": "",
        "topic": "II1/ESP9745759/led/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "819581010d48bfd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 300,
        "y": 2340,
        "wires": [
            [
                "1870bea779bcc08d"
            ]
        ]
    },
    {
        "id": "2f10543b4cbeb41f",
        "type": "mqtt in",
        "z": "726d093396977742",
        "name": "",
        "topic": "II1/ESP10796726/led/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "819581010d48bfd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 300,
        "y": 2400,
        "wires": [
            [
                "eb06e496c3e31625"
            ]
        ]
    },
    {
        "id": "3acb7da0949cc23d",
        "type": "mqtt in",
        "z": "726d093396977742",
        "name": "",
        "topic": "II1/ESP1128666/led/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "819581010d48bfd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 300,
        "y": 2460,
        "wires": [
            [
                "3c62cff90c080357"
            ]
        ]
    },
    {
        "id": "a18d39f0548a5591",
        "type": "debug",
        "z": "726d093396977742",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 2200,
        "wires": []
    },
    {
        "id": "c2c05265009ca22a",
        "type": "json",
        "z": "726d093396977742",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 2280,
        "wires": [
            [
                "a18d39f0548a5591",
                "435819b5dc9be1f0"
            ]
        ]
    },
    {
        "id": "435819b5dc9be1f0",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.origen",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 2280,
        "wires": [
            [
                "6d2428e69dd72e38"
            ]
        ]
    },
    {
        "id": "6d2428e69dd72e38",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "cc1d7259111dc549",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ORIGEN NivelLED: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 950,
        "y": 2280,
        "wires": []
    },
    {
        "id": "1870bea779bcc08d",
        "type": "json",
        "z": "726d093396977742",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 2340,
        "wires": [
            [
                "9647b49ed6205989"
            ]
        ]
    },
    {
        "id": "9647b49ed6205989",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.origen",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 2340,
        "wires": [
            [
                "b5f654d845f0b141"
            ]
        ]
    },
    {
        "id": "b5f654d845f0b141",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "8bc36ba409dbee33",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ORIGEN NivelLED: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 950,
        "y": 2340,
        "wires": []
    },
    {
        "id": "eb06e496c3e31625",
        "type": "json",
        "z": "726d093396977742",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 2400,
        "wires": [
            [
                "4dca4346c5752c67"
            ]
        ]
    },
    {
        "id": "4dca4346c5752c67",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.origen",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 2400,
        "wires": [
            [
                "eef9ee02265ce4e7"
            ]
        ]
    },
    {
        "id": "eef9ee02265ce4e7",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "c536c5560c48ce7f",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ORIGEN NivelLED: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 950,
        "y": 2400,
        "wires": []
    },
    {
        "id": "3c62cff90c080357",
        "type": "json",
        "z": "726d093396977742",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 2460,
        "wires": [
            [
                "01b108d866fc9c29"
            ]
        ]
    },
    {
        "id": "01b108d866fc9c29",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.origen",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 2460,
        "wires": [
            [
                "1a2f141ef1c6e442"
            ]
        ]
    },
    {
        "id": "1a2f141ef1c6e442",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "723b6c9cf7a443fb",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ORIGEN NivelLED: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 950,
        "y": 2460,
        "wires": []
    },
    {
        "id": "3459e18246260525",
        "type": "comment",
        "z": "726d093396977742",
        "name": "ACTUADORES    Topic: IIX/ESPX/switch/cmd",
        "info": "",
        "x": 290,
        "y": 3320,
        "wires": []
    },
    {
        "id": "912eb5d12153d6aa",
        "type": "ui_switch",
        "z": "726d093396977742",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "fe6409ad6ad243f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 230,
        "y": 3380,
        "wires": [
            [
                "2f3319dc11ba3cd9",
                "3f78fa6794a53852"
            ]
        ]
    },
    {
        "id": "2f3319dc11ba3cd9",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "fe6409ad6ad243f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Switch en modo seleccionado:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 450,
        "y": 3420,
        "wires": []
    },
    {
        "id": "c67deb2c5eb4225e",
        "type": "function",
        "z": "726d093396977742",
        "name": "Payload JSON y TOPIC enviar",
        "func": "var switch_=flow.get(\"switch_\");\nvar idESP=flow.get(\"id_ESP_switch\");\n\nmsg.payload={\"level\":switch_};\n\nmsg.topic=\"II1/ESP\"+idESP+\"/switch/cmd\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 3440,
        "wires": [
            [
                "842ac1efc5106b9e",
                "93c2e863e79d72df"
            ]
        ]
    },
    {
        "id": "cc64b795b1278a8c",
        "type": "ui_dropdown",
        "z": "726d093396977742",
        "name": "",
        "label": "SELECT ESP",
        "tooltip": "",
        "place": "seleccione un ESP",
        "group": "fe6409ad6ad243f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "ESP1_cris",
                "value": "3098241",
                "type": "str"
            },
            {
                "label": "ESP2_hugo",
                "value": "9745759",
                "type": "str"
            },
            {
                "label": "ESP3_javi",
                "value": "10796726",
                "type": "str"
            },
            {
                "label": "ESP4_julian",
                "value": "1128666",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "id_ESP_switch",
        "topicType": "flow",
        "className": "",
        "x": 260,
        "y": 3500,
        "wires": [
            [
                "acc966a245bac434"
            ]
        ]
    },
    {
        "id": "69627e084d5bd1e1",
        "type": "ui_button",
        "z": "726d093396977742",
        "name": "",
        "group": "fe6409ad6ad243f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Botón",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 660,
        "y": 3440,
        "wires": [
            [
                "c67deb2c5eb4225e"
            ]
        ]
    },
    {
        "id": "acc966a245bac434",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "id_ESP_switch",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 3500,
        "wires": [
            []
        ]
    },
    {
        "id": "3f78fa6794a53852",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "switch_",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 3380,
        "wires": [
            []
        ]
    },
    {
        "id": "842ac1efc5106b9e",
        "type": "mqtt out",
        "z": "726d093396977742",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "819581010d48bfd0",
        "x": 1150,
        "y": 3440,
        "wires": []
    },
    {
        "id": "5080444c1b99c78e",
        "type": "comment",
        "z": "726d093396977742",
        "name": "Topic: IIX/ESPX/led/status",
        "info": "",
        "x": 1570,
        "y": 2220,
        "wires": []
    },
    {
        "id": "9737c868c79849b5",
        "type": "mqtt in",
        "z": "726d093396977742",
        "name": "",
        "topic": "II1/ESP3098241/switch/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "819581010d48bfd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 1650,
        "y": 2280,
        "wires": [
            [
                "6f41895de6f7b713"
            ]
        ]
    },
    {
        "id": "05086cf3e3c855a9",
        "type": "mqtt in",
        "z": "726d093396977742",
        "name": "",
        "topic": "II1/ESP9745759/switch/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "819581010d48bfd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 1650,
        "y": 2340,
        "wires": [
            [
                "a14b21c19cb326d8"
            ]
        ]
    },
    {
        "id": "715c52776a159952",
        "type": "mqtt in",
        "z": "726d093396977742",
        "name": "",
        "topic": "II1/ESP10796726/switch/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "819581010d48bfd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 1650,
        "y": 2400,
        "wires": [
            [
                "59c4414077410618"
            ]
        ]
    },
    {
        "id": "9c2a5e5295ce2da6",
        "type": "mqtt in",
        "z": "726d093396977742",
        "name": "",
        "topic": "II1/ESP1128666/switch/status",
        "qos": "2",
        "datatype": "auto",
        "broker": "819581010d48bfd0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 1650,
        "y": 2460,
        "wires": [
            [
                "4319cb17cfa9f736"
            ]
        ]
    },
    {
        "id": "d68a626bddde9d41",
        "type": "debug",
        "z": "726d093396977742",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2090,
        "y": 2200,
        "wires": []
    },
    {
        "id": "6f41895de6f7b713",
        "type": "json",
        "z": "726d093396977742",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1870,
        "y": 2280,
        "wires": [
            [
                "d68a626bddde9d41",
                "a5f817c86b28eb14"
            ]
        ]
    },
    {
        "id": "a5f817c86b28eb14",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.origen",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2070,
        "y": 2280,
        "wires": [
            [
                "78232f10c86b7086"
            ]
        ]
    },
    {
        "id": "78232f10c86b7086",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "cc1d7259111dc549",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ORIGEN SWITCH: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 2290,
        "y": 2280,
        "wires": []
    },
    {
        "id": "a14b21c19cb326d8",
        "type": "json",
        "z": "726d093396977742",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1870,
        "y": 2340,
        "wires": [
            [
                "2553f3bb2050a413"
            ]
        ]
    },
    {
        "id": "2553f3bb2050a413",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.origen",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2070,
        "y": 2340,
        "wires": [
            [
                "9ece617fe09e5379"
            ]
        ]
    },
    {
        "id": "9ece617fe09e5379",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "8bc36ba409dbee33",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ORIGEN SWITCH: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 2290,
        "y": 2340,
        "wires": []
    },
    {
        "id": "59c4414077410618",
        "type": "json",
        "z": "726d093396977742",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1870,
        "y": 2400,
        "wires": [
            [
                "e8171bc54b7a1a61"
            ]
        ]
    },
    {
        "id": "e8171bc54b7a1a61",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.origen",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2070,
        "y": 2400,
        "wires": [
            [
                "4b22dbac49d8f6e1"
            ]
        ]
    },
    {
        "id": "4b22dbac49d8f6e1",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "c536c5560c48ce7f",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ORIGEN SWITCH: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 2290,
        "y": 2400,
        "wires": []
    },
    {
        "id": "4319cb17cfa9f736",
        "type": "json",
        "z": "726d093396977742",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1870,
        "y": 2460,
        "wires": [
            [
                "d47934c027042ce0"
            ]
        ]
    },
    {
        "id": "d47934c027042ce0",
        "type": "change",
        "z": "726d093396977742",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.origen",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2070,
        "y": 2460,
        "wires": [
            [
                "b160df45232cb8cb"
            ]
        ]
    },
    {
        "id": "b160df45232cb8cb",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "723b6c9cf7a443fb",
        "order": 10,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ORIGEN SWITCH: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 2290,
        "y": 2460,
        "wires": []
    },
    {
        "id": "93c2e863e79d72df",
        "type": "debug",
        "z": "726d093396977742",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 3520,
        "wires": []
    },
    {
        "id": "9d2a33405f57ffe6",
        "type": "change",
        "z": "726d093396977742",
        "name": "WIFI_SSId",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1120,
        "wires": [
            [
                "a4c1a98e574f3cc7"
            ]
        ]
    },
    {
        "id": "99bf027a588fb189",
        "type": "change",
        "z": "726d093396977742",
        "name": "WIFI_IP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 1160,
        "wires": [
            [
                "fee4211b503ae8f3"
            ]
        ]
    },
    {
        "id": "cf91df6887d72922",
        "type": "change",
        "z": "726d093396977742",
        "name": "WIFI_RSSI",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1200,
        "wires": [
            [
                "ac6986d1a9237972"
            ]
        ]
    },
    {
        "id": "a4c1a98e574f3cc7",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "cc1d7259111dc549",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WIFI SSId: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 930,
        "y": 1120,
        "wires": []
    },
    {
        "id": "fee4211b503ae8f3",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "cc1d7259111dc549",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WIFI IP: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 920,
        "y": 1160,
        "wires": []
    },
    {
        "id": "ac6986d1a9237972",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "cc1d7259111dc549",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WIFI RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 930,
        "y": 1200,
        "wires": []
    },
    {
        "id": "36fdd7ccf61328fe",
        "type": "change",
        "z": "726d093396977742",
        "name": "WIFI_SSId",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 1960,
        "wires": [
            [
                "6173cbbe573d0696"
            ]
        ]
    },
    {
        "id": "426d02e0a57e93a4",
        "type": "change",
        "z": "726d093396977742",
        "name": "WIFI_IP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 2000,
        "wires": [
            [
                "e6185cbeebb0aef6"
            ]
        ]
    },
    {
        "id": "709539f1a2214d1e",
        "type": "change",
        "z": "726d093396977742",
        "name": "WIFI_RSSI",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 2040,
        "wires": [
            [
                "d52cd2bb25cc3b0f"
            ]
        ]
    },
    {
        "id": "6173cbbe573d0696",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "8bc36ba409dbee33",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WIFI SSId: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 930,
        "y": 1960,
        "wires": []
    },
    {
        "id": "e6185cbeebb0aef6",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "8bc36ba409dbee33",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WIFI IP: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 920,
        "y": 2000,
        "wires": []
    },
    {
        "id": "d52cd2bb25cc3b0f",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "8bc36ba409dbee33",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WIFI RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 930,
        "y": 2040,
        "wires": []
    },
    {
        "id": "a3c8ff0c64e3cd03",
        "type": "change",
        "z": "726d093396977742",
        "name": "WIFI_SSId",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2030,
        "y": 1120,
        "wires": [
            [
                "4e26a61acc053d88"
            ]
        ]
    },
    {
        "id": "189a95a1b2250a37",
        "type": "change",
        "z": "726d093396977742",
        "name": "WIFI_IP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2020,
        "y": 1160,
        "wires": [
            [
                "83d64d32ce009445"
            ]
        ]
    },
    {
        "id": "8f38ad2094eac26d",
        "type": "change",
        "z": "726d093396977742",
        "name": "WIFI_RSSI",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2030,
        "y": 1200,
        "wires": [
            [
                "e3fbeb4cff04a310"
            ]
        ]
    },
    {
        "id": "4e26a61acc053d88",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "c536c5560c48ce7f",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WIFI SSId: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 2270,
        "y": 1120,
        "wires": []
    },
    {
        "id": "83d64d32ce009445",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "c536c5560c48ce7f",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WIFI IP: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 2260,
        "y": 1160,
        "wires": []
    },
    {
        "id": "e3fbeb4cff04a310",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "c536c5560c48ce7f",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WIFI RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 2270,
        "y": 1200,
        "wires": []
    },
    {
        "id": "1055103a9f01b2c9",
        "type": "change",
        "z": "726d093396977742",
        "name": "WIFI_SSId",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.SSId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2030,
        "y": 2000,
        "wires": [
            [
                "9662d1a98f3c58d9"
            ]
        ]
    },
    {
        "id": "97813353a376362d",
        "type": "change",
        "z": "726d093396977742",
        "name": "WIFI_IP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.IP",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2020,
        "y": 2040,
        "wires": [
            [
                "395a68dbf63e2208"
            ]
        ]
    },
    {
        "id": "cd46b9773f124802",
        "type": "change",
        "z": "726d093396977742",
        "name": "WIFI_RSSI",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Wifi.RSSI",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2030,
        "y": 2080,
        "wires": [
            [
                "dbbebc89b96b796f"
            ]
        ]
    },
    {
        "id": "9662d1a98f3c58d9",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "723b6c9cf7a443fb",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WIFI SSId: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 2270,
        "y": 2000,
        "wires": []
    },
    {
        "id": "395a68dbf63e2208",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "723b6c9cf7a443fb",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WIFI IP: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 2260,
        "y": 2040,
        "wires": []
    },
    {
        "id": "dbbebc89b96b796f",
        "type": "ui_text",
        "z": "726d093396977742",
        "group": "723b6c9cf7a443fb",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "WIFI RSSI: ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 2270,
        "y": 2080,
        "wires": []
    },
    {
        "id": "ab327fe76cd1459c",
        "type": "ui_group",
        "name": "NIVEL LED",
        "tab": "6f3e6a7804df93fa",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "819581010d48bfd0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot.ac.uma.es",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8c10952216336c2b",
        "type": "ui_group",
        "name": "CONFIG",
        "tab": "130b2bcfdd95d397",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cc1d7259111dc549",
        "type": "ui_group",
        "name": "DATOS_ESP_3098241",
        "tab": "0252c3f076347a5b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8bc36ba409dbee33",
        "type": "ui_group",
        "name": "ESP_9745759",
        "tab": "0252c3f076347a5b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c536c5560c48ce7f",
        "type": "ui_group",
        "name": "ESP_10796726",
        "tab": "0252c3f076347a5b",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "723b6c9cf7a443fb",
        "type": "ui_group",
        "name": "ESP_1128666",
        "tab": "0252c3f076347a5b",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5427c6dfa1fc2140",
        "type": "ui_group",
        "name": "NOTIFICACIONES",
        "tab": "130b2bcfdd95d397",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe6409ad6ad243f8",
        "type": "ui_group",
        "name": "SWITCH",
        "tab": "6f3e6a7804df93fa",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6f3e6a7804df93fa",
        "type": "ui_tab",
        "name": "ACTUADORES",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "130b2bcfdd95d397",
        "type": "ui_tab",
        "name": "CONFIG",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0252c3f076347a5b",
        "type": "ui_tab",
        "name": "ACTUALIZACION",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]